flex-row()
	display flex
	flex-wrap wrap

lg($property, $value...)
	if type($property) == 'object'
		@media screen and (max-width mint.break.lg)
			{$property}
	else
		@media screen and (max-width mint.break.lg)
			{$property} $value
		
md($property, $value...)
	if type($property) == 'object'
		@media screen and (max-width mint.break.md)
			{$property}
	else
		@media screen and (max-width mint.break.md)
			{$property} $value

sm($property, $value...)
	if type($property) == 'object'
		@media screen and (max-width mint.break.sm)
			{$property}
	else
		@media screen and (max-width mint.break.sm)
			{$property} $value

xs($property, $value...)
	if type($property) == 'object'
		@media screen and (max-width mint.break.xs)
			{$property}
	else
		@media screen and (max-width mint.break.xs)
			{$property} $value

mq($property, $value, $media = 0)
	if type( $property ) == 'object'
		@media screen and (max-width: $value)
			{$property}
	else
		@media screen and (max-width $media)
			{$property} $value

container( $max_width = mint.container_max_width )
	max-width $max_width
	padding-left: mint.gutter.all
	padding-right: mint.gutter.all
	margin 0 auto

	lg({
		padding-left: mint.gutter.all,
		padding-right: mint.gutter.all
	})

	md({
		padding-left: mint.gutter.md,
		padding-right: mint.gutter.md
	})

	sm({
		padding-left: mint.gutter.sm,
		padding-right: mint.gutter.sm
	})
	xs({
		padding-left: mint.gutter.xs,
		padding-right: mint.gutter.xs
	})