@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Nunito|Ubuntu+Mono");
html,
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 780px) {
  html,
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 560px) {
  html,
  body {
    overflow-x: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Slab', serif;
}
code[class*="language-"],
pre[class*="language-"],
code.inline {
  font-family: 'Ubuntu Mono', Monaco, 'Andale Mono', Consolas, monospace;
  tab-size: 2;
}
code.inline {
  color: #f77;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 4px;
  border-radius: 5px;
}
a {
  color: #3597fc;
  text-decoration: none;
}
a:hover {
  color: #60aeff;
  text-decoration: underline;
}
section {
  padding: 10px;
  margin-bottom: 4rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
}
.content section {
  margin-bottom: 0;
}
.wrap {
  max-width: 960px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 1300px) {
  .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 960px) {
  .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 780px) {
  .wrap {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (max-width: 560px) {
  .wrap {
    padding-left: 1%;
    padding-right: 1%;
  }
}
.logo {
  width: 350px;
  margin: 0 auto;
}
.logo .logo-object {
  transform: rotate(45deg);
}
.title {
  font-size: 6rem;
  margin: 0.25em 0;
}
.title-css {
  color: #7effd4;
}
.descr,
.title,
.social {
  text-align: center;
}
.soc-t {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url("../img/twitter.svg") center center/cover no-repeat;
}
a.t-link {
  color: #76a9ea;
}
.section-title {
  border-bottom: 2px solid #7effd4;
  padding-bottom: 20px;
}
.section-title,
.sub-section-title {
  position: relative;
}
.section-title > .section-link,
.sub-section-title > .section-link {
  opacity: 0;
  position: absolute;
  top: 0;
  left: -1.5em;
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url("../img/chain.svg") center center/cover no-repeat;
  transition: opacity 0.125s linear;
}
.section-title:hover > .section-link,
.sub-section-title:hover > .section-link {
  opacity: 1;
}
.footer .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 780px) {
  .footer .wrap {
    justify-content: center;
  }
}
@media screen and (max-width: 780px) {
  .footer .wrap {
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  .footer .wrap {
    justify-content: center;
  }
}
@media screen and (max-width: 560px) {
  .footer .wrap {
    text-align: center;
  }
}
.footer .wrap .copy,
.footer .wrap .author {
  width: calc( 50% - 30px );
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 1300px) {
  .footer .wrap .copy,
  .footer .wrap .author {
    width: calc( 50% - 30px );
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 960px) {
  .footer .wrap .copy,
  .footer .wrap .author {
    width: calc( 50% - 20px );
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 780px) {
  .footer .wrap .copy,
  .footer .wrap .author {
    width: calc( 100% - 2% );
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media screen and (max-width: 560px) {
  .footer .wrap .copy,
  .footer .wrap .author {
    width: calc( 100% - 1% );
    padding-left: 1%;
    padding-right: 1%;
  }
}
.footer .wrap .author {
  text-align: right;
}
@media screen and (max-width: 780px) {
  .footer .wrap .author {
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  .footer .wrap .author {
    text-align: center;
  }
}
i.love-icon,
i.stylesam-icon,
i.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
i.love-icon {
  background-image: url("../img/love.svg");
}
i.stylesam-icon {
  position: absolute;
  top: -13px;
  left: 0;
  width: 2em;
  height: 4em;
  background-image: url("../img/stylesam.svg");
}
i.icon-bug {
  background-image: url("../img/bug.svg");
}
.footer {
  padding: 20px 0;
  background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}
.stylesam-link {
  position: relative;
  margin-left: 10px;
}
.chagelog-header {
  padding: 0 0 20px 0;
}
[class$='-mark'] {
  display: inline-block;
  border-radius: 0 3px 3px 0;
  padding: 0 5px;
  color: #ecf0f1;
  transition: padding-left 0.125s linear;
}
.new-mark {
  background-color: #27ae60;
}
.implemented-mark {
  background-color: #00bcd4;
}
.bug-mark {
  background-color: #e74c3c;
}
.fixed-mark {
  background-color: #f1c40f;
}
p.version {
  padding: 10px 20px;
  border-left: 10px solid #b6daff;
}
.changelog-list-item {
  display: inline-flex;
  width: 100%;
  align-items: flex-start;
}
.changelog-list-item:hover > [class$='-mark'] {
  padding-left: 15px;
}
.changelog-list > li {
  margin: 5px 0;
}
.item-content {
  display: inline-block;
  padding: 0 5px;
}
