@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Nunito|Ubuntu+Mono');

@import 'mint/mint'

main = #7effd4

html
body
	font-family 'Nunito', sans-serif
	reset-box-model()
	width 100%
	height 100%
	sm overflow-x hidden
	xs overflow-x hidden

h1, h2, h3, h4, h5, h6
	font-family 'Josefin Slab', serif

code[class*="language-"]
pre[class*="language-"]
code.inline
	font-family 'Ubuntu Mono', Monaco, 'Andale Mono', Consolas, monospace
	tab-size 2

code.inline
	color #ff7777
	background-color #fff
	border 1px solid #eee
	padding 4px
	border-radius 5px

a
	color #3597FC
	text-decoration none
	&:hover
		color #60AEFF
		text-decoration underline

section
	padding 10px
	margin-bottom 4rem

ul
	list-style-type none
	margin 0
	padding 0


.main
	position relative

.content section
	margin-bottom 0

.wrap
	container 960px

.logo
	width 350px
	margin 0 auto
	.logo-object
		transform rotate(45deg)

.title
	font-size 6rem
	margin .25em 0
	&-css
		color main

.descr
.title
.social
	text-align center

.soc-t
	display inline-block
	width 1em
	height 1em
	background url(../img/twitter.svg) center center/cover no-repeat

a.t-link
	color #76a9ea

.section-title
	border-bottom 2px solid main
	padding-bottom 20px

.section-title
.sub-section-title
	position relative
	> .section-link
		opacity 0

		position absolute
		top 0
		left -1.5em

		display inline-block
		width 1em
		height @width
		background url(../img/chain.svg) center center/cover no-repeat
		
		transition opacity .125s linear
	&:hover > .section-link
		opacity 1

.footer .wrap
	display flex
	flex-wrap wrap
	justify-content space-between
	sm justify-content center
	sm text-align center
	xs justify-content center
	xs text-align center

	.copy
	.author
		col 6
		col 6 'lg'
		col 6 'md'
		col 12 'sm'
		col 12 'xs'
	.author
		text-align right
		sm text-align center
		xs text-align center
i.love-icon
i.stylesam-icon
i.icon
	display inline-block
	width 1em
	height 1em
	background-repeat no-repeat
	background-size cover
	background-position center center

i.love-icon
	background-image url(../img/love.svg)

i.stylesam-icon
	position absolute
	top -13px
	left 0

	width 2em
	height 4em
	background-image url(../img/stylesam.svg)

i.icon-bug
	background-image url(../img/bug.svg)

.footer
	padding 20px 0
	background linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6)

.stylesam-link
	position relative
	margin-left 10px

.chagelog-header
	padding 0 0 20px 0

[class$='-mark']
	display inline-block
	border-radius 0 3px 3px 0
	padding 0 5px
	color #ecf0f1

	transition padding-left .125s linear

marks_colors = {
	new: #27AE60,
	implemented: #00BCD4,
	bug: #E74C3C,
	fixed: #F1C40F
}

for key, value in marks_colors
	.{key}-mark
		background-color value

p.version
	padding 10px 20px
	border-left 10px solid #B6DAFF

.changelog-list-item
	display inline-flex
	width 100%
	align-items flex-start
	&:hover > [class$='-mark']
		padding-left 15px

.changelog-list
	> li
		margin 5px 0

.item-content
	display inline-block
	padding 0 5px